<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Генератор паролей и не только</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Генератор паролей и не только</h1>
    <hr>

    <div class="generator-section">
        <h2>Пароль</h2>
        <label>Длина: <input type="number" id="length" value="12" min="4"></label>
        <div class="options">
            <label><input type="checkbox" id="use-uppercase" checked> Заглавные буквы</label>
            <label><input type="checkbox" id="use-digits" checked> Цифры</label>
            <label><input type="checkbox" id="use-special" checked> Спецсимволы</label>
        </div>
        <button id="generate-password">Сгенерировать</button>
        <pre id="password-result">Здесь появится пароль...</pre>
    </div>
    <hr>
    <div class="generator-section">
        <h2>UUID</h2>
        <button id="generate-uuid">Сгенерировать UUID</button>
        <pre id="uuid-result">Здесь появится UUID...</pre>
    </div>
    <hr>
    <div class="generator-section">
        <h2>Генератор случайных координат</h2>
        <div class="coordinate-inputs">
            <h4>Широта</h4>
            <label>Минимум: <input type="number" id="lat_min" value="-90" min="-90"></label>
            <label>Максимум: <input type="number" id="lat_max" value="90" max="90"></label>

            <h4>Долгота</h4>
            <label>Минимум: <input type="number" id="lon_min" value="-180" min="-180"></label>
            <label>Максимум: <input type="number" id="lon_max" value="180" max="180"></label>
        </div>
        <button id="generate-coordinates">Сгенерировать координаты</button>
        <pre id="coordinates-result">Координаты появятся здесь...</pre>
        <div id="map"></div>
    </div>
    <hr>
    <div class="generator-section">
        <h2>Генератор цвета</h2>
        <button id="generate-color">Сгенерировать цвет</button>
        <div class="color-result">
            <div class="color-display" id="color-display"></div>
            <div class="color-codes">
                <pre>HEX: <span id="hex-code">Здесь появится HEX...</span></pre>
                <pre>RGB: <span id="rgb-code">Здесь появится RGB...</span></pre>
            </div>
        </div>
    </div>

    <div class="generator-section">
        <h4><a href="/apidocs" target="_blank">Документация API</a></h4>
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ YANDEX_MAPS_API_KEY }}&lang=ru_RU"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>